[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
ipykernel = "*"
azure-storage-blob = "*"
flask = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "*"
